@import '../../variables';

#navscroll.scroll, #navscroll-LM.scroll {
    background-color: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(15px);
}
#navscroll, #navscroll-LM {
    transition: background-color 0.4s ease-out;
}

.nav-container {
    max-width: 75rem;
    margin: auto;
    position: relative;
    height: 100%;
    padding: 0 100px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    height: 6rem;
    #navscroll, #navscroll-LM {
        height: 6rem;
        position: absolute;
        top:0;
        width: 100%;
        left:0;
        z-index: 2;
        display: block;
        .nav-logo {
            position: absolute;
            left: 2rem;
            top: 50%;
            transform:translateY(-50%);
            img {
                width: 11rem;
            }
        }
        .nav-links {
            position: absolute;
            right: 1rem;
            top: 45%;
            transform:translateY(-50%);
            a {
                display: inline-block;
                color: $lightColor;
                text-decoration: none;
                margin: 15px 20px;
                letter-spacing: .05rem;
                font-weight: 400;
                &:hover {
                    color:$accent;
                    border-bottom: 2px solid $accent;
                    border-top: 2px solid rgba(0, 0, 0, 0);
                    box-sizing: border-box;
                }
            }
        }
        @media only screen and (max-width:767px) {
            display: none;
        }
    }
    .mobile-nav {
        display: none;
        @media only screen and (max-width:767px) {
            display: block;
            position: fixed;
            width: 100%;
            z-index: 10;
            top: 0;
            background-color: rgba(0, 63, 103, 0.85);
            backdrop-filter: blur(15px);
        }
        #menuToggle {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: relative;
            padding: 30px 20px 20px;
            z-index: 1;
            -webkit-user-select: none;
            user-select: none;
            input {
              display: flex;
              width: 40px;
              height: 45px;
              position: absolute;
              cursor: pointer;
              opacity: 0;
              z-index: 2;
            }
            span {
                display: flex;
                width: 32px;
                height: 4px;
                margin-bottom: 5px;
                position: relative;
                background: $lightColor;
                border-radius: 5px;
                z-index: 1;
                transform-origin: 5px 0px;
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
                &:first-child {
                  transform-origin: 0% 0%;
                }
                &:nth-last-child(2){
                  transform-origin: 0% 100%;
                }
            }
            input:checked ~ span {
              opacity: 1;
              transform: rotate(45deg) translate(-9px, -20px);
              background: $accent;
            }
            input:checked ~ span:nth-last-child(5) {
              opacity: 0;
              transform: rotate(0deg) scale(0.2, 0.2);
            }
            input:checked ~ span:nth-last-child(4) {
              transform: rotate(-45deg) translate(0px, 6px);
            }
            input:checked ~ ul {
              transform: none;
            }
            input:checked ~ .mobile-nav-logo {
                transform: translate(-200%, 0);
            }
        }
        ul {
            padding: 0;
            list-style-type: none;
        }
        #menu {
            position: absolute;
            top: 0;
            right: 0;
            width: 250px;
            box-shadow: 0 0 24px rgba(0, 0, 0, 0.35);
            border-radius: 0 0 0 $borderRadius;
            margin: 0;
            padding: 5px 24px 24px 24px;
            background-color: $darkestBlue;
            -webkit-font-smoothing: antialiased;
            transform-origin: 0% 0%;
            transform: translate(200%, 0);
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
         }
         li {
             padding: 10px;
             transition-delay: 2s;
             margin-bottom: 15px;
             &.logo-mb-nav {
                 padding-top: 10px;
                 img {
                    width: 140px;
                 }
             }
             a {
                 color:$lightColor;
                 text-decoration: none;
             }
              .arrow {
                border: solid $accent;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -webkit-transition: .2s ease-in-out;
                -moz-transition: .2s ease-in-out;
                -o-transition: .2s ease-in-out;
                  margin-right: 10px;
                  margin-bottom: 4px;
             }
         }
    
         .mobile-nav-logo {
            transform-origin: 0% 0%;
            transform: translate(0, 0);
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
            position: absolute;
            left: 0;
            padding: 0 40px 15px 22px;
            margin-top: -20px;
            img {
                width:162px;
            }
        }
    }
}
